* {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

body {
  margin: 0%;
}

header {
  background-image: url("/images/wall.jpg");
  background-size: cover;
  border-radius: 10px;
  margin-bottom: 1%;
  padding: 2%;
}

img {
  height: 200px;
  width: 200px;
  border-radius: 50%;
}

h2 {
  background-color: #545158;
  color: #fcf8ff;
  border-radius: 9px;
  margin-top: 0%;
}

h3 {
  color: #976cdc;
}

.heading {
  text-align: center;
}

aside {
  background-color: #545158;
  border-radius: 10px;
  margin-left: auto;
  margin-right: auto;
}

a {
  color: #008bc8;
}

div {
  margin: 1% 3% 1% 3%;
  padding: 2%;
  background-color: rgb(184, 184, 184);
  border-radius: 9px;
}

footer {
  background-color: rgb(184, 184, 184);
  margin: 4%;
  padding: 1%;
  border-radius: 9px;
}

/* mobile */
@media only screen and (max-width: 600px) {
  body {
    margin: 1%;
    font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
    font-size: 13px;
    background-color: grey;
  }
  header {
    border: 2px solid #008bc8;
    background-image: url("/images/bricks.jpg");
    color: white;
  }
  aside {
    width: 300px;
    height: 130px;
  }
  div {
    margin-bottom: 10px;
  }
  img {
    width: 150px;
    height: 150px;
  }
}

/* tablet */
@media only screen and (max-width: 1024px) {
  body {
    margin: 0%;
    font-size: 17px;
  }
  header {
    border: 2px solid #5b6367;
    margin-bottom: 10px;
    background-image: url("/images/bricks.jpg");
    color: white;
  }
  aside {
    width: 350px;
    height: 150px;
    margin-bottom: 10px;
  }
  div {
    margin-bottom: 15px;
  }
  footer {
    padding: 2%;
  }
}

/* laptop */
@media only screen and (min-width: 1024px) {
  body {
    margin: 0%;
    font-size: 20px;
  }
  header {
    background-image: url("/images/wall.jpg");
    border-radius: 0%;
    margin-bottom: 2%;
    color: #29282a;
  }
  aside {
    margin: 1% 7% 1% 7%;
    text-align: center;
    padding: 3px;
  }
  .nav {
    list-style-type: none;
    text-align: center;
    margin: 0;
    padding: 0;
  }
  .nav li {
    display: inline-block;
    font-size: 20px;
    padding: 20px;
  }
  div {
    margin-top: 2%;
    border-radius: 13px;
  }
  footer {
    margin-top: 2%;
  }
}
